.service-item{
  position: relative;
  padding: 0px;
  width: 30%;
  height: 316.9px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 10px 30px;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  box-shadow: 0 2.2px 6.6px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(40, 54, 85, 0.85), rgba(40, 54, 85, 0.85));
  }
  
  

  &:first-child {
    margin-left: 0px;
  }

  &:nth-child(3) {
    margin-right: 0px;
  }
  &:nth-child(4) {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;

  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background: linear-gradient(0deg, rgba(40, 54, 85, 0.75), rgba(40, 54, 85, 0.75));
  }

  .content {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    // text-align: center;
    // left: 50%;
    // top: 50%;
    // width: 100%;
    // transform: translate(-50%, -50%);
    
    .title {
      margin: 0;
      text-align: center;
      font-family: 'Gotham Pro-Medium', sans-serif;
      font-size: 2.1rem;
      line-height: 2.5rem;
      line-height: 120%;
      color: #D4B76A;
    }
  }
  
  
  &:hover {
    .service-link {
      opacity: 0.85;
      display: inline-block;
      font-family: 'Gotham Pro-Medium', sans-serif;
      margin-top: 1rem;
      border: 1px solid #fff;
      padding: .8rem 1rem;
      color: #fff;
      transition: .4s;
      background: #fff;
      background-color: Transparent;
    }
    .title {
      color: #fff;
    }

   
    hr {
      width: 100%;
      opacity: 0.85;
      display: flex;
      transition: .4s;
      background: #fff;
      margin: 45px 0px;
    }
  }

  hr {
    width: 0px;
    margin: 0;
    opacity: 0;
  }

  .service-link {
    opacity: 0;
    height: 40.15px;
    width: 164px;
    color: #283655;
    background: #fff;
    display: flex;
    text-align: center;
    padding: auto;
  }

  .service-link:hover{
    color: #283655;
    background: #fff;
  }
}
